* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: #333;
}

input{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #000;
    color: white;
    padding: 10px 15px;
    margin: 20px;
    outline: none;
}

input:focus{
    border: 1px solid red;
}

#error {
    font-weight: bold;
    display: block;
    color: red;
    font-size: 20px;
    margin-left: 20px;
}